<div>
  <div *ngFor="let question of questions, let idx = index">
    <h3>
      <a [routerLink]="['/detail',question.Id]"> Question {{idx+1}} </a>
    </h3>
    <div [innerHTML]="question.Text"> </div>
    <div>
      <i class="far fa-thumbs-up" (click)="addVote('plus',question)">{{question.upvotes}}</i>
      <i class="far fa-thumbs-down" (click)="addVote('minus',question)">{{question.downvotes}}</i>
    </div>
    <br>
    <br>
    <form (submit)="addAnswer(idx, question.Id)">
      <textarea type="text" name="answer" placeholder="Your answer " required minlength="2" [(ngModel)]="newAnswers[idx]">
      </textarea>
      <br>
      <button type="submit">submit answer</button>
    </form>
    <br>
    <h5>
      Answers:
    </h5>
    <div class="row">
      <div *ngFor="let answer of answers" class="col s12 m6">
        <div *ngIf="answer['Question-Id'] === question.Id" class="card blue darken-2 small">
          <div class="card-content white-text ">
            <p>{{answer.created_at}}</p>
            <p [innerHTML]="answer.Answer" (click)="toggleClass($event)"> </p>
          </div>
          <div class="card-action">
            <i class="far fa-thumbs-up" (click)="addVote('plus',answer)">{{answer.upvotes}}</i>
            <i class="far fa-thumbs-down" (click)="addVote('minus',answer)">{{answer.downvotes}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
